.parallax {
    background-image: url("chris5.jpg");
    /*min-height: 500px;*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: black;
    text-decoration: none;
}

#headline {
    font-size: 45px;
    margin-top: 100px;
    margin-bottom: -50px;
}

#description {
    font-size: 25px;
}

#links {
    position: absolute;
    bottom: 0;
    left: 40%;
    margin-bottom: 90px;
}

.button {
    border: solid rgb(9, 6, 15);
    background-color: transparent;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    min-width: 150px;
    margin: 500px;
}

.button:hover {
    background-color: darkslategray;
    cursor: pointer;
}
