@{
    ViewData["Title"] = "Portfolio";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/portfolio.css" rel="stylesheet" type="text/css"/>
    <title>@ViewData["Title"]</title>
</head>

<body>
    <h1>That's me!</h1>
    <div class="resize">
        <img class="circle" src="~/images/ChrisKParvanovBackground.jpg" alt="Me">
        <p>
            Здравейте, аз съм Крис Първанов на 17 години.<br />
            Фотограф ентусиаст от град София.<br />
            Обичам да пътувам и да заснемам живота около себе си !<br />
            Портретните снимки са моята страст , но също така снимам и :
        </p>
        <ul>
            <li>Събития</li>
            <li>Продукти</li>
            <li>Природни картини</li>
        </ul>>
    </div>
    <div>
        <img class="portrait" src="~/images/IvoImage.jpg" alt="Ivo">

    </div>
</body>
</html>