.gallery {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 45%);
    grid-gap: 2%;
}

.picture {  
    width: 100%;
    object-fit: cover;
}